/* You can add global styles to this file, and also import other style files */
@import "./theme/variables";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url('https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  color: black;
}

html, body{
    height: 100%;
}